.button {
    border: none;
    width: 100px;
    padding: 10px;
    font-size: 23px;
    cursor: pointer;
    background-color: rgb(255, 79, 106);
    color: #fff;
    transition: .5s;
}

.button:hover {
    background-color: rgb(255, 27, 60);
}

.buttonDisabled {
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
}