.counter {
    font-size: 8em;
    font-weight: bold;
    color: #ff5a37;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.counterRed {
    color: #fa3141;
    transform: scale(1.3);
}