.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.errorMessageWrapper {
    height: 20px;
}

.errorMessage {
    color: red;
    transition: 0.2s;
    font-size: 13px;
    transform: scale(1.5);
}